*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Body-Night{
    background-color: rgb(0, 0, 0);
}

.Body-Day{
    background-color: aquamarine;
}

.Navigation-Night{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:sticky;
    top:0;
    z-index:1000;
    background-color: rgb(0, 0, 0);
    border: solid 4px rgb(224, 10, 207);
    border-radius: 6px;
}

.Navigation-Night a{
    padding:8px;
    margin: 4px 4px 4px 4px;
    background-color: rgb(53, 53, 53);
    border-radius: 6px;
    color: white;
}

.Navigation-Day{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:sticky;
    top:0;
    z-index:1000;
    background-color: rgb(0, 255, 157);
    border: solid 4px rgb(6, 150, 49);
    border-radius: 6px;
}

.Navigation-Day a{
    padding:8px;
    margin: 4px 4px 4px 4px;
    background-color: rgb(241, 97, 0);
    border-radius: 6px;
    color: black;
}

.Title-Card-Night{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border:solid 4px rgb(224, 10, 207);
    margin-bottom: 8px;
    border-radius: 6px;
}

.Title-Card-Day{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border:solid 4px blue;
    margin-bottom: 8px;
    border-radius: 6px;
}

.Title-Card-Night img{
    max-width:140px;
    margin:2vw;
}

.Title-Card-Day img{
    max-width:140px;
    margin:2vw;
}

.Title-Card-Night h1{
    color: white;
}

.Title-Card-Day h1{
    color: black;
}

.Main-4-Image-Panel-Night{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
    width:96%;
    justify-content: center;
    position: relative;
    margin: auto;
}

.Main-4-Image-Panel-Day{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
    width:96%;
    justify-content: center;
    position: relative;
    margin: auto;
}

.Main-4-Image-Panel-Night div{
    border: solid 4px rgb(0, 204, 255);
    background-color: black;
    border-radius: 6px;
}

.Main-4-Image-Panel-Day div{
    border: solid 4px green;
    background-color: rgb(0, 255, 157);
    border-radius: 6px;
}

.Main-4-Image-Panel-Night img{
    width:100%;
}

.Main-4-Image-Panel-Day img{
    width:100%;
}

.Main-4-Image-Panel-Night figcaption{
    display: flex;
    justify-content: center;
    color: white;
}

.Main-4-Image-Panel-Day figcaption{
    display: flex;
    justify-content: center;
    color: black;
}

.Main-4-Image-Panel-Night p{
    display: flex;
    text-align: center;
    color: white;
}

.Main-4-Image-Panel-Day p{
    display: flex;
    text-align: center;
    color: black;
}

.Light-Dark-Switcher-Night{
    display: flex;
    position: fixed;
    z-index:499;
    bottom:30px;
    right: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:5%;
    float:right;
    border-radius: 40px;
    margin-top: 4px;
    cursor: pointer;
}

.Button-Hidden-Night{
    visibility: hidden;
}

.Light-Dark-Switcher-Day{
    display: flex;
    position: fixed;
    z-index:500;
    bottom:30px;
    right: 30px;
    justify-content: center;
    align-items: center;
    background-color: black;
    width:5%;
    float:right;
    border-radius: 40px;
    margin-top: 4px;
    cursor: pointer;
}

.Button-Hidden-Day{
    visibility: hidden;
}

.Light-Dark-Switcher-Night img{
    max-width:50px;
    max-height: 50px;
    margin:4px;
}

.Light-Dark-Switcher-Day img{
    max-width:50px;
    max-height: 50px;
    margin:4px;
}

.Footer-Night{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 66px;
    border-top: solid 4px rgb(224, 10, 207);
    background-color: rgb(0, 0, 0);
    color: white;
}

.Footer-Day{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 66px;
    border-top: solid 4px green;
    background-color: rgb(0, 255, 157);
    color: black;
}

.Footer-Night div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: white;
}

.Footer-Day div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: black;
}